---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About PDX Women Coders">
  <div class="lg:m-24 m-8">
    <h1 class="text-4xl lg:text-4xl font-serif font-bold text-gray-900 my-6 text-center">About Us</h1>
    <p class="text-center">PDX Women Coders is an organization dedicated to supporting and empowering women in the technology field in the Portland area throughout their career. We provide a welcoming community where women can network, collaborate, and grow their skills through workshops, networking opportunities, and community events.
    </p>
    <h2 class="text-3xl lg:text-3xl font-serif font-bold text-gray-900 my-6 text-center">
      Our Mission
    </h2>
    <p class="text-center">
      Our mission is to foster an inclusive environment that encourages innovation, professional development, and mutual support, helping women thrive in their tech careers.
    </p>
  </div>
</Layout>
