---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact Us">
  <div class="lg:m-24 m-8 flex flex-col items-center">
    <h1 class="text-4xl lg:text-4xl font-serif font-bold text-gray-900 my-6 text-center">Get in touch</h1>
    <p class="text-center">We'd love to hear from you! Whether you have questions about our events, want to get involved, or just want to say hello, feel free to reach out to us.</p>
    <a href="mailto:pdxwomencoders@gmail.com" class="bg-primary-500 text-white px-4 py-2 rounded hover:bg-primary-600 transition duration-150 ease-in-out my-8">
      Email us
    </a>
  </div>
 
</Layout>
